{
    "endOfLine": "lf",
    "trailingComma": "es5",
    "arrowParens": "always",
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "importOrder": [
      "<THIRD_PARTY_MODULES>",
      "/views/(.*)$",
      "/redux/(.*)$",
      "/components/(.*)$",
      "/hooks/(.*)$",
      "/enums/(.*)$",
      "/types/(.*)$",
      "/assets/(.*)$",
      "^[./]"
    ],  
    "importOrderSeparation": true
  }